body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.import-bar {
    fill: steelblue;
}

.import-bar:hover {
    fill: lightsteelblue;
    transition: fill 1s ease;
}

.export-bar {
    fill: indianred;
}

.export-bar:hover {
    fill: lightcoral;
    transition: fill 1s ease;
}

.tooltip {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    pointer-events: none;
}

#chart {
    margin: 0 auto;
    text-align: center;
}